In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('netflix_titles.csv')

In [3]:
data2 = pd.read_csv('netflix_titles.csv')

In [4]:
data.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...

In [5]:
data.shape

(6234, 12)

In [6]:
data.isnull().sum()

show_id            0
type               0
title              0
director        1969
cast             570
country          476
date_added        11
release_year       0
rating            10
duration           0
listed_in          0
description        0
dtype: int64

In [7]:
data = data.fillna('')

In [8]:
data.isnull().sum()

show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
description     0
dtype: int64

In [9]:
def clean_data(x):
        return str.lower(x.replace(" ", ""))

In [10]:
new_features = ['title', 'director', 'cast', 'listed_in', 'description']
data = data[new_features]

In [11]:
for new_features in new_features:
    data[new_features] = data[new_features].apply(clean_data)

In [12]:
data.head()

,title,director,cast,listed_in,description
0,normofthenorth:kingsizedadventure,"richardfinn,timmaltby","alanmarriott,andrewtoth,briandobson,colehoward...","children&familymovies,comedies",beforeplanninganawesomeweddingforhisgrandfathe...
1,jandino:whateverittakes,,jandinoasporaat,stand-upcomedy,jandinoasporaatriffsonthechallengesofraisingki...
2,transformersprime,,"petercullen,sumaleemontano,frankwelker,jeffrey...",kids'tv,"withthehelpofthreehumanallies,theautobotsoncea..."
3,transformers:robotsindisguise,,"willfriedle,darrencriss,constancezimmer,kharyp...",kids'tv,whenaprisonshipcrashunleasheshundredsofdecepti...
4,#realityhigh,fernandolebrija,"nestacooper,katewalsh,johnmichaelhiggins,keith...",comedies,whennerdyhighschoolerdanifinallyattractstheint...

In [13]:
def create_cloumns(x):
    return x['title']+ ' ' + x['director'] + ' ' + x['cast'] + ' ' +x['listed_in']+' '+ x['description']

In [14]:
data['new'] = data.apply(create_cloumns, axis=1)

In [15]:
data.head()

,title,director,cast,listed_in,description,new
0,normofthenorth:kingsizedadventure,"richardfinn,timmaltby","alanmarriott,andrewtoth,briandobson,colehoward...","children&familymovies,comedies",beforeplanninganawesomeweddingforhisgrandfathe...,"normofthenorth:kingsizedadventure richardfinn,..."
1,jandino:whateverittakes,,jandinoasporaat,stand-upcomedy,jandinoasporaatriffsonthechallengesofraisingki...,jandino:whateverittakes jandinoasporaat stand...
2,transformersprime,,"petercullen,sumaleemontano,frankwelker,jeffrey...",kids'tv,"withthehelpofthreehumanallies,theautobotsoncea...","transformersprime petercullen,sumaleemontano,..."
3,transformers:robotsindisguise,,"willfriedle,darrencriss,constancezimmer,kharyp...",kids'tv,whenaprisonshipcrashunleasheshundredsofdecepti...,"transformers:robotsindisguise willfriedle,dar..."
4,#realityhigh,fernandolebrija,"nestacooper,katewalsh,johnmichaelhiggins,keith...",comedies,whennerdyhighschoolerdanifinallyattractstheint...,"#realityhigh fernandolebrija nestacooper,katew..."

In [16]:
#Convert a collection of text documents to a matrix of token counts.
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity #Compute cosine similarity between samples in X and Y.
count = CountVectorizer(stop_words='english')#Terms that were ignored.
count_matrix = count.fit_transform(data['new'])
cosine_sim2 = cosine_similarity(count_matrix, count_matrix)

In [17]:
data=data.reset_index()
data

,index,title,director,cast,listed_in,description,new
0,0,normofthenorth:kingsizedadventure,"richardfinn,timmaltby","alanmarriott,andrewtoth,briandobson,colehoward...","children&familymovies,comedies",beforeplanninganawesomeweddingforhisgrandfathe...,"normofthenorth:kingsizedadventure richardfinn,..."
1,1,jandino:whateverittakes,,jandinoasporaat,stand-upcomedy,jandinoasporaatriffsonthechallengesofraisingki...,jandino:whateverittakes jandinoasporaat stand...
2,2,transformersprime,,"petercullen,sumaleemontano,frankwelker,jeffrey...",kids'tv,"withthehelpofthreehumanallies,theautobotsoncea...","transformersprime petercullen,sumaleemontano,..."
3,3,transformers:robotsindisguise,,"willfriedle,darrencriss,constancezimmer,kharyp...",kids'tv,whenaprisonshipcrashunleasheshundredsofdecepti...,"transformers:robotsindisguise willfriedle,dar..."
4,4,#realityhigh,fernandolebrija,"nestacooper,katewalsh,johnmichaelhiggins,keith...",comedies,whennerdyhighschoolerdanifinallyattractstheint...,"#realityhigh fernandolebrija nestacooper,katew..."
...,...,...,...,...,...,...,...
6229,6229,redvs.blue,,"burnieburns,jasonsaldaña,gustavosorola,geoffla...","tvaction&adventure,tvcomedies,tvsci-fi&fantasy","thisparodyoffirst-personshootergames,militaryl...","redvs.blue burnieburns,jasonsaldaña,gustavoso..."
6230,6230,maron,,"marcmaron,juddhirsch,joshbrener,norazehetner,a...",tvcomedies,"marcmaronstarsasmarcmaron,whointerviewsfellowc...","maron marcmaron,juddhirsch,joshbrener,norazeh..."
6231,6231,littlebabybum:nurseryrhymefriends,,,movies,nurseryrhymesandoriginalmusicforchildrenaccomp...,littlebabybum:nurseryrhymefriends movies nur...
6232,6232,ayoungdoctor'snotebookandotherstories,,"danielradcliffe,jonhamm,adamgodley,christopher...","britishtvshows,tvcomedies,tvdramas","setduringtherussianrevolution,thiscomicminiser...",ayoungdoctor'snotebookandotherstories danielr...
6233,6233,friends,,"jenniferaniston,courteneycox,lisakudrow,mattle...","classic&culttv,tvcomedies",thishitsitcomfollowsthemerrymisadventuresofsix...,"friends jenniferaniston,courteneycox,lisakudr..."

In [18]:
indicate = pd.Series(data.index, index=data['title'])

In [19]:
indicate.head()

title
normofthenorth:kingsizedadventure    0
jandino:whateverittakes              1
transformersprime                    2
transformers:robotsindisguise        3
#realityhigh                         4
dtype: int64

In [20]:
result = 0
def get_recommendations_new(title, cosine_sim):
    global result
    title=title.replace(' ','').lower()
    idx = indicate[title]

    # Get the pairwsie similarity scores 
    sim_scores = list(enumerate(cosine_sim[idx]))

    # Sort the movies based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:11]
    indices = [i[0] for i in sim_scores]

    result =  data2['title'].iloc[indices]
    return result

In [21]:
get_recommendations_new('transformer',cosine_sim2)

4051    Gender Revolution: A Journey with Katie Couric
4680                                        Dream Boat
746                Feminists: What Were They Thinking?
1621                                  All In My Family
2702                              Life in the Doghouse
3204                                    Growing Up Coy
2743                            Michael Lost and Found
441            The Death and Life of Marsha P. Johnson
399                          Who the F**k Is That Guy?
4532                                     Breaking Free
Name: title, dtype: object

In [22]:
result = result.to_frame()
result = result.reset_index()
del result['index']

In [23]:
result.index += 1
result

                                             title
1   Gender Revolution: A Journey with Katie Couric
2                                       Dream Boat
3              Feminists: What Were They Thinking?
4                                 All In My Family
5                             Life in the Doghouse
6                                   Growing Up Coy
7                           Michael Lost and Found
8          The Death and Life of Marsha P. Johnson
9                        Who the F**k Is That Guy?
10                                   Breaking Free